{% extends 'core/base.html' %}
{% block content %}
<h1>Система мониторинга инфраструктуры</h1>
<p>Добро пожаловать в веб-панель управления комплексом инспекции железнодорожных путей. Наше решение объединяет использование беспилотных летательных аппаратов (БПЛА) и алгоритмов машинного зрения для оперативного выявления дефектов полотна.</p>
<br>
<a href="{% url 'about' %}" style="display: inline-block; padding: 10px 20px; background: var(--accent); color: white; text-decoration: none; border-radius: 8px; font-weight: bold;">Подробнее о технологиях</a>
{% endblock %}
